html,body {
    margin: 0;
    padding: 0;
}
@media screen and (max-width:1000px){
    div.dropdown-menu{
        display: none;
    }
    div.dropdownbtn{
        display: none;
    }
    div.dropdown-select{
        display: none;
    }
}
@media screen and (max-width:600px){
    img {max-width: 600px;}
    iframe {width:600px;} 
    .home_button {
        align-items: center;
    }
}
.header {
    position:fixed; 
    top:0px; 
    left:0px; 
    height:60px; 
    width:1500px; 
    background-color:white;
    z-index: 100;
}
.home_button {
    position:fixed; 
    top:0px; 
    left:100px; 
    height:60px; 
    border-radius:5px; 
    z-index:101;
}
.home_photos {
    position: relative;
    margin: auto;
    width:600px; 
    border-radius:10px; 
    align-items:center;
    justify-content: center;    
}
.pic-ctn {
    position: relative;
    width: 600px;
    height: 340px;
    margin-top: 15vh;
    align-items: center;
    left: 135px;
}
@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}
.pic {
    width: 600px;
    height: 337.5px;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 35s infinite;
}
.pic:nth-child(2) {
    animation-delay: 7s;
}
.pic:nth-child(3) {
    animation-delay: 14s;
}
.pic:nth-child(4) {
    animation-delay: 21s;
}
.pic:nth-child(5) {
    animation-delay: 28s;
}
.pic:nth-child(6) {
    animation-delay: 35s;
}
.pic:nth-child(7) {
    animation-delay: 42s;
}
.iframein {
    margin:auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
a {
    color:black;
    text-decoration: none;
}
.dropdown-menu{
    display:block;
    z-index: 101;
}
.dropdownbtn {
    background-color: white;
    border:none;
    position:fixed; 
    top:0px; 
    height:60px;
    width:150px;
}
.dropdown-select {
    display:none;
    position:fixed;
    background-color: white;
    border:none;
}
.dropdown-select a {
    display: block;
    position:fixed;
    background-color: white;
    border:none;
    height:60px;
    width:150px;
    text-align:center;
}
.dropdown-menu:hover .dropdownbtn {background-color:lightgrey;}
.dropdown-menu:hover .dropdown-select {display: block;}
.dropdown-select a:hover {background-color:lightgrey;}
.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    z-index: 200;
}
